#gif
{
    width: 10%;
}

.test_image_and_result
{
    margin-top: 15px;
    margin-left: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 25px grey;
    width: 40%;
    margin-bottom: 15px;
    left: 0;
    padding: 20px;
}

.img-responsive
{
    width: 40%;
}

b
{
    color: purple;
}

h4
{
    color: black;
}

.bob3
{
    background-color: rgb(193, 193, 193);
    padding: 8px;
    border-radius: 15px;
    text-align: center;
    width: 50%;
}

h6
{
    background-color: lightpink;
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 50px;
    width: 40%;
    border-radius: 15px;
    padding: 10px;
    font-style: italic;
}

.footer
{
    width: 100%;
    bottom: 0;
    position: fixed;
    color: red;
    text-align: center;
    font-family: 'Robot Slab',serif;
    background-color: lightblue;
    line-height: 3;
}

